

<!-- <div class="contt d-flex align-items-center"> <nav class="navbar navbar-expand-lg custom-navbar w-100">
    <div class="container d-flex justify-content-between align-items-center position-relative">

      <div class="nav-side-part order-lg-1">
        <ul class="navbar-nav flex-row gap-2">
          <li class="nav-item">
            <a class="nav-link custom-pill active" href="#">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-pill" href="#">Teawares</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-pill" href="#">About us</a>
          </li>
        </ul>
      </div>

      <div class="logo-part order-lg-2">
        <a class="navbar-brand m-0" href="#">
          <img src="../../../assets/logo.png" alt="T4tea Logo" height="50">
        </a>
      </div>

      <div class="nav-side-part d-flex justify-content-end align-items-center gap-3 order-lg-3">
          <div class="search-bar-container" [class.active]="isSearchOpen">
            <i class="bi bi-search search-icon" (click)="toggleSearch()"></i>
            <input
              type="text"
              class="search-input"
              placeholder=" Search..."
              [style.opacity]="isSearchOpen ? '1' : '0'"> </div>

              <div class="account-wrapper position-relative">
                <a href="javascript:void(0)" class="nav-icon account-circle" (click)="toggleAccountMenu($event)">
                  <i class="bi bi-person-fill fs-4"></i>
                </a>

                <div class="account-dropdown" *ngIf="isAccountMenuOpen" (click)="$event.stopPropagation()">
                  <div class="dropdown-links">
                    <a routerLink="/profile" (click)="isAccountMenuOpen = false">Profile</a>
                    <a routerLink="/login" (click)="isAccountMenuOpen = false">Login</a>
                    <a routerLink="/logout" (click)="isAccountMenuOpen = false">Logout</a>
                  </div>
                </div>
              </div>

        <a href="#" class="nav-icon position-relative">
          <i class="bi bi-cart3 fs-4"></i>
          <span class="badge-count">0</span>
        </a>

      </div>

    </div>
  </nav>
</div> -->





<!-- <div class="contt d-flex align-items-center">
  <nav class="navbar navbar-expand-lg custom-navbar w-100">
    <div class="container d-flex justify-content-between align-items-center position-relative">

      <button class="navbar-toggler border-0 order-first" type="button" (click)="isMobileMenuOpen = !isMobileMenuOpen">
        <i class="bi bi-list fs-1" style="color: #003d37;"></i>
      </button>

      <div class="nav-side-part collapse navbar-collapse order-lg-1" [class.show]="isMobileMenuOpen">
        <ul class="navbar-nav flex-lg-row flex-column gap-2">
          <li class="nav-item"><a class="nav-link custom-pill active" href="#">Category</a></li>
          <li class="nav-item"><a class="nav-link custom-pill" href="#">Teawares</a></li>
          <li class="nav-item"><a class="nav-link custom-pill" href="#">About us</a></li>
        </ul>
      </div>

      <div class="logo-part order-lg-2">
        <a class="navbar-brand m-0" href="#">
          <img src="../../../assets/logo.png" alt="T4tea Logo">
        </a>
      </div>

      <div class="nav-side-part d-flex justify-content-end align-items-center gap-2 gap-md-3 order-lg-3 px-2">
        <div class="search-bar-container" [class.active]="isSearchOpen">
          <i class="bi bi-search search-icon" (click)="toggleSearch()"></i>
          <input type="text" class="search-input" placeholder=" Search..." [style.opacity]="isSearchOpen ? '1' : '0'">
        </div>

        <div class="account-wrapper position-relative">
          <a href="javascript:void(0)" class="nav-icon account-circle" (click)="toggleAccountMenu($event)">
            <i class="bi bi-person-fill fs-4"></i>
          </a>
          <div class="account-dropdown" *ngIf="isAccountMenuOpen" (click)="$event.stopPropagation()">
            <div class="dropdown-links">
              <a routerLink="/profile" (click)="isAccountMenuOpen = false">Profile</a>
              <a routerLink="/login" (click)="isAccountMenuOpen = false">Login</a>
              <a routerLink="/logout" (click)="isAccountMenuOpen = false">Logout</a>
            </div>
          </div>
        </div>

        <a href="#" class="nav-icon position-relative">
          <i class="bi bi-cart3 fs-4"></i>
          <span class="badge-count">0</span>
        </a>
      </div>

    </div>
  </nav>
</div> -->



<div class="contt d-flex align-items-center">
  <nav class="navbar navbar-expand-lg custom-navbar w-100">
    <div class="container d-flex justify-content-between align-items-center position-relative">

      <button class="navbar-toggler border-0 d-lg-none" type="button" (click)="isMobileMenuOpen = !isMobileMenuOpen">
        <i class="bi bi-list fs-1" style="color: #003d37;"></i>
      </button>

        <div class="nav-side-part d-none d-lg-flex order-lg-1">
          <ul class="navbar-nav flex-row gap-2">
            <li class="nav-item">
              <a class="nav-link custom-pill"
                  routerLink="/category"
                  routerLinkActive="active-link">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-pill"
                  routerLink="/teawares"
                  routerLinkActive="active-link">Teawares</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-pill"
                  routerLink="/about-us"
                  routerLinkActive="active-link">About us</a>
            </li>
          </ul>
        </div>

        <div class="mobile-menu d-lg-none" *ngIf="isMobileMenuOpen">
            <a routerLink="/category" routerLinkActive="active-mobile" (click)="isMobileMenuOpen = false">Category</a>
            <a routerLink="/teawares" routerLinkActive="active-mobile" (click)="isMobileMenuOpen = false">Teawares</a>
            <a routerLink="/about-us" routerLinkActive="active-mobile" (click)="isMobileMenuOpen = false">About us</a>
        </div>

      <div class="logo-part order-lg-2" routerLink="/home">
        <a class="navbar-brand m-0" routerLink="/home">
          <img src="../../../assets/logo.png" alt="T4tea Logo" routerLink="/home">
        </a>
      </div>

      <div class="nav-side-part d-flex justify-content-end align-items-center gap-md-3 order-lg-3">
        <div class="search-bar-container" [class.active]="isSearchOpen">
          <i class="bi bi-search search-icon" (click)="toggleSearch()"></i>
          <input type="text" class="search-input" placeholder=" Search..." [style.opacity]="isSearchOpen ? '1' : '0'">
        </div>
        <div class="account-wrapper position-relative">
          <a href="javascript:void(0)" class="nav-icon account-circle" (click)="toggleAccountMenu($event)">
            <i class="bi bi-person-fill fs-4"></i>
          </a>
          <div class="account-dropdown" *ngIf="isAccountMenuOpen" (click)="$event.stopPropagation()">
            <div class="dropdown-links">
              <a routerLink="/profile" (click)="isAccountMenuOpen = false" routerLinkActive="active-link">Profile</a>
              <a routerLink="/login" (click)="isAccountMenuOpen = false" routerLinkActive="active-link">Login</a>
              <a routerLink="/logout" (click)="isAccountMenuOpen = false" routerLinkActive="active-link">Logout</a>
            </div>
          </div>
        </div>
          <div class="cart-wrapper position-relative">
            <a routerLink="/wishlist" class="nav-icon"  routerLinkActive="active-link">
              <i class="bi bi-heart-fill fs-4"></i>
              <span class="badge-count">0</span>
            </a>
          </div>
          <div class="cart-wrapper position-relative">
            <a routerLink="/cart" class="nav-icon"  routerLinkActive="active-link">
              <i class="bi bi-cart3 fs-4"></i>
              <span class="badge-count">0</span>
            </a>
          </div>
      </div>
    </div>
  </nav>
</div>
 