/* home.component.scss */

.hero-section {
  height: calc(85vh - 140px);
  background-color: #00221f;

  /* التدرج يبدأ من اليسار بنسبة عتامة 0.7 وينتهي في اليمين شفافاً 0.0 */
  background-image:
    linear-gradient(to right,
      rgb(0, 22, 20) 0%,
      rgba(0, 45, 41, 0.4) 50%,
      rgba(0, 45, 41, 0) 100%),
    url('../../../../assets/g1.png');

  background-size: fill;
  background-position: center right;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero-text-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.hero-title {
  color: #fcebd1;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
  display: block;
}

.hero-btns {
  display: flex;
  justify-content: flex-start; 
  width: 100%;
}
.custom-btn-white {
  background-color: #fcebd1 !important;
  color: #002d29 !important;
  border-radius: 10px;
  padding: 12px 35px;
  font-weight: 500;
  border: none;
}

.custom-btn-outline {
  border: 1px solid #fcebd1 !important;
  color: #fcebd1 !important;
  border-radius: 10px;
  padding: 12px 35px;
  background: transparent;
}


.hero-content-wrapper {
  animation: floating 4s ease-in-out infinite;
}


@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}


@media (max-width: 991.98px) {
  .hero-text-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem !important;
  }


  .hero-title {
    font-size: 2.2rem;
    text-align: center;
  }
  .hero-btns {
    justify-content: center;
  }
  .hero-section {
    height: 80vh;
    background-position: 70% center;
  }
}
