


<!-- <section class="best-seller-section">
  <div class="connecting-line"></div>
  <div class="decor-item tea-bag-decor">
    <img src="../../../../assets/Vector (1).png" alt="">
  </div>

  <div class="container position-relative" style="z-index: 5;">
    <div class="section-header">
      <h2 class="section-title">Best Seller</h2>
      <p class="section-subtitle">Savor the Art of Fine Tea.</p>
    </div>

    <div class="row justify-content-center align-items-end g-4">
      <div class="col-md-3">
        <div class="product-item">
          <img src="../../../../assets/Herbal Tea.png" alt="Herbal Tea">
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-item">
          <img src="../../../../assets/Black Tea.png" alt="Black Tea">
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-item">
          <img src="../../../../assets/Green Tea.png" alt="Green Tea">
        </div>
      </div>
    </div>
  </div>

  <div class="decor-item press-decor">
    <img src="../../../../assets/Tea Press.png" alt="">
  </div>
</section> -->


<section class="best-seller-section">
  <div class="connecting-line"></div>
  <div class="decor-item tea-bag-decor">
    <img src="../../../../assets/Vector (1).png" alt="">
  </div>

  <div class="container position-relative" style="z-index: 5;">
    <div class="section-header">
      <h2 class="section-title">Best Seller</h2>
      <p class="section-subtitle">Savor the Art of Fine Tea.</p>
    </div>

    <div class="row justify-content-center align-items-end g-4">
      <div class="col-md-3">
        <div class="product-item">
          <div class="hover-decor leaves-left"><img src="../../../../assets/warda.png" alt=""></div>
          <img src="../../../../assets/Herbal Tea.png" alt="Herbal Tea" class="main-can">
          <div class="hover-decor leaves-right"><img src="../../../../assets/warda1.png" alt=""></div>
          <div class="hover-line"></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <div class="hover-decor leaves-left"><img src="../../../../assets/warda.png" alt=""></div>
          <img src="../../../../assets/Black Tea.png" alt="Black Tea" class="main-can">
          <div class="hover-decor leaves-right"><img src="../../../../assets/warda1.png" alt=""></div>
          <div class="hover-line"></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="product-item">
          <div class="hover-decor leaves-left"><img src="../../../../assets/warda.png" alt=""></div>
          <img src="../../../../assets/Green Tea.png" alt="Green Tea" class="main-can">
          <div class="hover-decor leaves-right"><img src="../../../../assets/warda1.png" alt=""></div>
          <div class="hover-line"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="decor-item press-decor">
    <img src="../../../../assets/Tea Press.png" alt="">
  </div>
</section>
