



.best-seller-section {
  background-color:  #fcebd1;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
}

.section-header {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  z-index: 10;
  width: 100%;

  .section-title {
    font-family: 'Playfair Display', serif;
    color: #003d37;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .section-subtitle {
    color: #003d37;
    font-size: 1.1rem;
    font-style: italic;
    opacity: 0.8;
  }
}

.product-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 0.4s ease;

  img {
    height: 450px;
    width: auto;
    object-fit: contain;
    filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.1));
  }

  &:hover {
    transform: translateY(-15px);
  }
}


.decor-item {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.tea-bag-decor {
  left: 0%;
  top: 15%;
  width: 380px;
  opacity: 0.7;
}

.press-decor {
  right: 10%;
  bottom: 15%;
  width: 240px;
}


.product-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.4s ease;
  cursor: pointer;
  padding-bottom: 20px;

  .main-can {
    height: 450px;
    width: auto;
    object-fit: contain;
    z-index: 3;
    filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.1));
    transition: transform 0.4s ease;
  }


  .hover-decor {
    position: absolute;
    bottom: 0;
    width: 60px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 2;
    pointer-events: none;

    &.leaves-left {
      left: -10px;
      bottom: 0px;
      transform: translateX(20px) rotate(-15deg);
    }

    &.leaves-right {
      right: -10px;
      bottom: 50px;
      transform: translateX(-20px) rotate(15deg);
    }

      img {  width: 100%; }
  }


  .hover-line {
    position: absolute;
    bottom: 80px;
    width: 100px;
    height: 5px;
    background-color: #c48d56;
    border-radius: 10px;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.4s ease;
  }


  &:hover {
    .main-can {
      transform: translateY(-15px);
    }
    .hover-decor {
      opacity: 1;
      transform: translateX(0) rotate(0);
    }
    .hover-line {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}
























@media (max-width: 991px) {
  .decor-item, .connecting-line {
    display: none;
  }

  .product-item .main-can {
    height: 300px;
    margin-bottom: 30px;
  }


  .product-item .hover-decor.leaves-left {
    left: 120px;
    bottom: 0px;
    width: 40px;
  }

  .product-item .hover-decor.leaves-right {
    right: 120px;
    bottom: -30px;
    width: 40px;
  }

  .product-item .hover-line {
    bottom: 80px;
    width: 60px;
  }
}
