


.infinite-scroll-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #fcebd1;
  padding: 0px !important;
  width: 100%;
}

.scroll-track {
  display: inline-flex;
  align-items: center;
  animation: scroll-animation 15s linear infinite;
}

.scroll-track img {
  height: 200px;
  width: auto;
  display: block;
}




@media (min-width: 1024px) {
  .infinite-scroll-container {
    padding: 0px !important;
  }

  .scroll-track img {
    height: 400px;
  }
}


@keyframes scroll-animation {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
