<div class="infinite-scroll-container">
  <div class="scroll-track">
    <img src="../../../../assets/cup1.png" alt="Tea Cup">
    <img src="../../../../assets/cup1.png" alt="Tea Cup">
    <img src="../../../../assets/cup1.png" alt="Tea Cup">
    <img src="../../../../assets/cup1.png" alt="Tea Cup">

    <img src="../../../../assets/cup1.png" alt="Tea Cup">
    <img src="../../../../assets/cup1.png" alt="Tea Cup">
    <img src="../../../../assets/cup1.png" alt="Tea Cup">
    <img src="../../../../assets/cup1.png" alt="Tea Cup">
  </div>
</div>
