@import '../../../styles/layout';

.about-hero {
  @include large-desktop {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
}

.about-section-grid {
  @include large-desktop {
    gap: 5rem;
  }
}

.about-values-grid {
  @include large-desktop {
    gap: 4rem;
  }
}

.about-hero__title {
  @include large-desktop {
    font-size: 4rem;
  }
}

.about-section-title {
  @include large-desktop {
    font-size: 2.75rem;
  }
}
