<!-- <div class="category-wrapper">
  <header class="page-header">
    <h1>Category</h1>
    <p>A statement of refined quality</p>
  </header>

  <div class="category-section" *ngFor="let cat of categories">
    <h2 class="section-title">{{ cat }}</h2>

    <div class="products-grid">
      <div class="product-card" *ngFor="let product of getProductsByCategory(cat)">
        <div class="wishlist" (click)="toggleFavorite(product)">
          <i  [attr.fill]="product.isFavorite ? '#e74c3c' : 'none'"
              [attr.stroke]="product.isFavorite ? '#e74c3c' : 'currentColor'" class="bi bi-heart" aria-hidden="true">
          </i>
        </div>
        <div class="img-wrapper">
          <img [src]="product.image" [alt]="product.name" class="product-img">
        </div>
        <h3 class="product-name">{{ product.name }}</h3>
        <button class="add-to-cart">
          <div class="btn-content">
            <i class="bi bi-cart fs-4" aria-hidden="true"></i>
            <span>{{ product.price }}</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div> -->









<div class="category-wrapper">
  <header class="page-header">
    <h1 class="section-title">Category</h1>
    <p class="section-subtitle fs-5">A statement of refined quality</p>
  </header>

  <div class="category-section" *ngFor="let cat of categories">
    <h2 class="title mb-4">{{ cat }}</h2>

    <div class="products-grid">
      <div class="product-card" *ngFor="let product of getProductsByCategory(cat)">
        <div class="wishlist" (click)="toggleFavorite(product)">
          <i class="bi" [ngClass]="product.isFavorite ? 'bi-heart-fill active' : 'bi-heart'"></i>
        </div>

        <div class="img-wrapper">
          <img [src]="product.image" [alt]="product.name" class="product-img">
        </div>

        <h3 class="product-name">{{ product.name }}</h3>

        <button class="add-to-cart">
          <div class="btn-content">
            <i class="bi bi-cart fs-4" aria-hidden="true"></i>
            <span class="price fs-5">{{ product.price }}</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
