<section class="collections-section">
  <div class="container">
    <div class="row g-4 justify-content-center">

      <div class="col-md-4" *ngFor="let category of categories">
        <div class="collection-card" >
          <div class="img-wrapper orange-bg">
            <img [src]="category.img" alt="Tea Cups">
          </div>
          <h3>{{category.title}}</h3>
          <p>{{category.description}}</p>
          <button class="shop-btn">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
  <img src="../../../../assets/w.png" class="leaf-decoration" alt="decoration">
</section>
