/* You can add global styles to this file, and also import other style files */
@import 'swiper/swiper-bundle.css';
// استيراد Bootstrap (النسخة الكاملة)
@import "bootstrap/scss/bootstrap";
// الأيقونات
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "font-awesome/css/font-awesome.min.css";
// تنسيقات الـ Toastr
@import "ngx-toastr/toastr";


body{
  // overflow-x: hidden;
  max-width: 1950px;
  margin: auto;
}

$primary-dark: #003d37; // اللون الأخضر الداكن للأزرار
$gold-gradient: linear-gradient(90deg, #d4b081, #f1dec4); // التدرج الذهبي للخلفية
$text-white: #ffffff;

.cont{
    background-color: #fcebd1;
    margin: auto;
}

  .section-header {
    text-align: center;
    margin-bottom: 50px;
    will-change: transform, opacity;
  }

  .section-title {
    font-family: 'Playfair Display', serif;
    color: #003d37;
    font-size: 3.3rem;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .section-subtitle {
    color: #003d37;
    font-size: 1.1rem;
    font-style: italic;
    opacity: 0.8;
  }


