<div class="form-container">
  <div class="reset-icon-wrapper" style="margin-bottom: 1rem;">
      <i class="bi bi-shield-lock" style="font-size: 3rem; color: #fdf6e3;"></i>
  </div>

  <h2 class="welcome-text">
    Reset Password
    <p class="subtext">Create a new strong password for your account.</p>
  </h2>

  <form class="auth-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder=" ">
      <label>New Password</label>
      <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="showPassword = !showPassword"></i>
    </div>

    <div class="input-group">
      <input [type]="showRePassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder=" ">
      <label>Confirm Password</label>
      <i class="bi" [ngClass]="showRePassword ? 'bi-eye-slash' : 'bi-eye'" (click)="showRePassword = !showRePassword"></i>
      <small class="error-msg" *ngIf="resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched">
        Passwords do not match.
      </small>
    </div>

    <button type="submit" class="submit-btn" [disabled]="resetForm.invalid">
      Update Password
    </button>

      <div class="back-to-login-wrapper" style="margin-top: 2rem;">
    <a routerLink="/auth/login" class="back-link" style="color: #fff; text-decoration: none; font-size: 0.9rem;">
      <i class="bi bi-chevron-left"></i> Back to Login
    </a>
  </div>
  </form>
</div>
